@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.tab {
  .container {
    // max-width: 700px;
    margin: 0px auto;
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .grid{
    @include ms-Grid;
  }

  .row {
    @include ms-Grid-row;
    padding: 5px;
  }

  .column {
    @include ms-Grid-col;
  }

  .editScreen{
    @include ms-sm11;
  }

  .tabHeader{
    @include ms-Grid-col;
    @include ms-sm12;
    display: flex;
    align-items: center;
    [role='tablist']{
      white-space: inherit;
    }
  }
  .showScreen{
    @include ms-sm12;
  }

  .delTab{
    @include ms-sm1;
    i{
      color: red;
    }
  } 
}
